.jumbotron {
    background-image: url('img/search_outline\ II.png');
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: 60% 90%;
    /* opacity: 0.5; */
    height: 110vh;
    text-align: center;
    margin-top: -100px ;
}
.jumbotron .display-4 {
    color: black;
    margin-top: 120px;
}
.jumbotron p {
    color: black;
}
.img{
    width: 250px;
    margin-left: 50px;
    margin-top: -70px;
}
.rounded{
    width: 320px;
    margin-left: 90px;
    margin-top: 90px;
    margin-bottom: 30px;
}

.icon {
    width: 70px;
}
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.imgFlu{
    width: 50rem;
}